body{
    background: rgb(162, 197, 176);
    font-family: Arial, Helvetica, sans-serif;
}
.assignment{
    display: flex;
    padding: 10px;
}

.assignment img{
    width: 300px;
    padding: 10px;
    margin: 10px;
    background: rgb(72, 100, 16);
}

h1{
    color: rgb(72, 100, 16);
    text-align: center;
}